.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-left: 15px;
            cursor: pointer;
        }
    }

    .new-blog-link {
        position: fixed;
        right: 0;
        bottom: 0;

        a {
        font-size: 3em;
        cursor: pointer;
        color: red;
        margin-right: 15px;
        margin-bottom: 5px;
        transition: 0.5s ease-in-out;

        &:hover {
            color: black;
        }
      }               
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 900px;

        a {
            text-decoration: none;
            color: red;
            transition: 0.3s ease-in-out;

            &:hover {
                color: black;
            }
        }

        h1 {
            font-size: 1.5em;
        }

        .featured-image-wrapper {
          img {
           margin: 15px 0px;
           width: 50;
           height: 600px;
           border-radius: 5px;
           object-fit: cover;
          }
        }
    }

}